# Don’t commit the following directories created by pub.
build/
packages
.packages
web/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

# Dart docs
docs/

# IntelliJ
.project
*.iml
.idea/

.pub/
*.g.dart
.dart_tool
